*{box-sizing:border-box;margin:0;padding:0;font-family: 'Inter', sans-serif;}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


.no-deco {text-decoration: none;}

.center-text {text-align: center;}

.bg {background-color: #111;}

header {padding: 20px;}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-weight: 800;
  line-height: .8em;
}

.btn-menu {
  color: #fff;
  cursor: pointer;
  font-size: 2.2em;
  width: 20px;
}

.btn-close-menu {
  color: #fff;
  cursor: pointer;
  display: grid;
  justify-items: end;
  margin-bottom: 10px;
}

.navigation {
  background-color: rgba(0, 0, 0, .9);
  display: none;
  margin: 0 auto;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 28px;
}

.menu {list-style-type: none;}

.nav-item {margin-bottom: 1.25em;}

.nav-link {
  color: #fff;
  font-weight: 600;
}

span a {
  color: #fff;
  font-size: 22px;;
}