*{box-sizing:border-box;margin:0;padding:0;font-family: 'Inter', sans-serif;}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.no-deco {text-decoration: none;}

.center-text {text-align: center;}

.bg {
  background-color: #111;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.img-resp {
  height: auto;
  max-width: 100%;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 62.5em;
}

header {padding: 1.25em;}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-weight: 800;
  line-height: .8em;
}

.btn-menu {
  color: #fff;
  cursor: pointer;
  font-size: 2.2em;
  width: 20px;
}

.btn-close-menu {
  color: #fff;
  cursor: pointer;
  display: grid;
  justify-items: end;
  margin-bottom: 10px;
}

.navigation {
  background-color: rgba(0, 0, 0, .9);
  display: none;
  margin: 0 auto;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
}

.menu {list-style-type: none;}

.nav-item {margin-bottom: 1.25em;}

.nav-link {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 600;
}

.nav-icons a {
  color: #fff;
  display: inline-block;
  font-size: 1em;
}

/* HERO ANIMATION */
.heroline {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
}

/* ANIMATION CODE*/
.animation-wrapper {
  display: none;
  /* align-items: center;
  color: #fff;
  flex-direction: column;
  justify-content: center; */
}

/* .laptop,
.tablet,
.mobile {
  animation: fade 6s infinite;
  font-size: 7em;
  opacity: 0;
  position: absolute;
}

.tablet {animation-delay: 2s;} 

.laptop {animation-delay: 4s;}

@keyframes fade {
  0% {opacity: 0;}
  23.333% {opacity: 1;}
  33.333% {opacity: 0;}
} */

/* ABOUT */
.about {
  align-items: center;
  display: grid;
  height: 100vh;
  justify-items: center;
  padding: 0 1.25em 0; 
}

.about div {
  margin: 0 auto;
  max-width: 40.625rem;
}

.about h2 {margin-bottom: 1.125rem;}

.about a {color: rgb(88, 88, 88);}

.about p {
  color: rgb(88, 88, 88);
  font-weight: 600;
  margin-bottom: 1.25em;
}

.stack {
  padding: 1.5625rem 0;
} 

.stack-icon {
  font-size: 2.4rem;
  margin-right: .2em;
}

/* PORTFOLIO */ 
.portfolio {
  margin: 0 auto;
  padding: 5em 1.25em;
}
.tab {display: flex;}

.tab-link {
  color: #9f9f9f;
  cursor: pointer;
  margin-right: 1.25em;
  text-decoration: none;
}

.active {
  border-bottom: 1px solid #9f9f9f;
  color: #111;
  display: grid;
}

.tab-content {
  display: none;
  grid-template-columns: 1fr 1fr;
}

.card {
  align-items: center;
  background-image: url("https://picsum.photos/id/55/300/300");
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  max-width: 300px;
  text-align: center;
}

.dark-effect {
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.plus-icon,
.close-info {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2em;
}

.card-info {
  align-items: center;
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 15px;
  position: absolute;
}

.card-info a {
  color: #9f9f9f;
  padding: 10px;
}

/* CONTACT */
.contact { 

}

.contact h2 {margin-bottom: calc(var(--mb-1) * 2);}

.form-contact {
  margin: 0 auto calc(var(--mb-1) * 5);
}

label {
  font-size: .875rem;
  font-weight: 600;
  margin-bottom: .3125rem;
}

input {
  height: 2.5rem;
  margin-bottom: var(--mb-1);
  padding-left: .625rem;
}

textarea {
  height: 9.375rem;
  margin-bottom: var(--mb-1);
  padding: .3125rem 0 0 .3125rem;
}

input, 
textarea {
  border: 1px solid #ccc;
  border-radius: .625rem;
}

.btn-submit {
  background-color: #466AC6;
  border: none;
  border-radius: .625rem;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  height: 2.5rem;
  transition: ease-in-out .5s;
  width: 4.375rem;
}

.btn-submit:hover {background-color: #34519b;}

.contact-icons {margin-bottom: calc(var(--mb-1) + .625rem);}

.contact-icons a {
  color: #111;
  font-size: 1.6rem;
}

.contact-info a {color: #111;}

@media screen and (min-width: 800px) {

  .heroline {font-size: 4em;}
 }


@media screen and (min-width: 650px) {
  .btn-menu,
  .btn-close-menu {display: none;}

  .navigation {
    align-items: baseline;
    background: none;
    display: flex !important;
    justify-content: end;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .menu {display: flex;}

  .nav-item {margin: 0 1.25rem 0 0;}
}

@media screen and (min-width: 750px) {

}